[submodule "qBittorrent"]
	path = qBittorrent
	url = https://github.com/Rebell81/qBittorrentApi.git
[submodule "Avalonia.Microcharts"]
	path = Avalonia.Microcharts
	url = git@github.com:Rebell81/Avalonia.Microcharts.git
